<div id="sign-up">
  <h3>Sign up to Pokebuilder!</h3>
  <form action="/auth" method="POST">
    <label for="username">Trainer alias:</label>
    <input type="text" name="username" autocomplete="off" />
    <br />
    <label for="email">Trainer e-mail:</label>
    <input type="text" name="email" autocomplete="off" />
    <br />
    <label for="password1">Password:</label>
    <input type="password" name="password1" autocomplete="off" />
    <br />
    <label for="password2">Confirm your password:</label>
    <input type="password" name="password2" autocomplete="off" />
    <br />
    <p> {{errorMessage}}</p>
    <button>Begin your adventure!</button>
  </form>
</div>

<div id="log-in"> 
  <h3>Log in</h3>
  <form action="/auth" method="POST">
    <label for="username"> Trainer alias:</label>
    <input type="text" name="username" />
    <br />
    <label for="password1">Password:</label>
    <input type="password" name="password1" autocomplete="off" />
    <br />
    <p>{{errorLogin}}</p>
    <button>Log-in!</button>

  </form>
</div>
