<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <div>
        <a href="/">Home</a>
        <a href="/app/pokedex">Pokedex</a>
        {{#if isTrainerActive}}
           <a href="/app/community">Community</a>
          <a href="/app/community-pokedex">Community Pokedex</a>
          <a href="/profile/create">Create a Pokemon!</a>
        {{/if}}
      </div>

      <div>
        {{#if isTrainerActive}}
          <a href="/profile">Profile</a>
          <a href="/auth/logout">Log out</a>
        {{else}}
          <a href="/auth">SignUp/LogIn</a>
        {{/if}}
      </div>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>