@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  padding: 50px;
  font: 8px;
  background-color: beige;
  font-family: "Press Start 2P";
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* NAVBAR */



#trainer-details {
  display: flex;
  justify-content: center;
}
#container {
  display: flex;
  flex-direction: column;
}

#username a {
  text-decoration: none;
  color: white;
  border: solid 2px black;
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
}

#avatar img {
  height: 200px;
  margin-right: 30px;
}

#username {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#pokemonTeam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eachPokemon {
  border: solid 1px black;
  display: flex;
  width: 48%;
  margin: 10px 0px;
  justify-content: space-between;
  border: solid 5px red;
  box-shadow: 3px 3px 0px rgb(5, 1, 1);
  border-radius: 15px 50px 15px 0px;
  color: white;
  background: rgb(18, 200, 28);
  background: linear-gradient(
    180deg,
    rgb(11, 146, 18) 0%,
    rgba(18, 200, 28, 1) 65%,
    rgba(167, 255, 178, 1) 65%,
    rgba(167, 255, 178, 1) 70%,
    rgba(18, 200, 28, 1) 70%,
    rgba(18, 200, 28, 1) 75%,
    rgba(167, 255, 178, 1) 75%,
    rgb(87, 187, 100) 100%
  );
  text-shadow: 2px 2px black ;
  text-decoration: solid;
}

.eachPokemon img {
  display: flex;
  height: 100px;
}

.pokemon-general {
  display: flex;
  flex-direction: column;
}

.pokeStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.eachStat {
  margin: -10px;
}

.pokemon-description p {
  margin: 5px;
  margin-left: -80px;
  font-size: 10px;
}

.title-poke-description {
  font-size: 15px;
  font-weight: bold;
}

.maintitle-poke-description {
  font-size: 10px;
  font-weight: bold;
  margin-left: -30px;
}

.eachStat {
  font-size: 12px;
  font-weight: bold;
}

.eachStat span {
  font-weight: 400;
}

.pokemon-details-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-details-buttons button {
  width: 90px;
  height: 30px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 10px;
  box-shadow: 3px 2px 5px green;
}

.pokemon-profile {
  margin-top: 30px;
  margin-left: 45px;
  width: 130px;
}
