@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  padding: 50px;
  font: 8px;
  background-color: lightgreynn;
  font-family: "Press Start 2P";
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  background: rgb(18, 200, 28);
  background: linear-gradient(
    180deg,
    rgb(11, 146, 18) 0%,
    rgba(18, 200, 28, 1) 65%,
    rgba(167, 255, 178, 1) 65%,
    rgba(167, 255, 178, 1) 70%,
    rgba(18, 200, 28, 1) 70%,
    rgba(18, 200, 28, 1) 75%,
    rgba(167, 255, 178, 1) 75%,
    rgb(87, 187, 100) 100%
  );
  margin: -60px -60px 0px -60px;
  padding: 20px 60px;
}

nav a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 3px black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  border-right: solid 5px black;
  padding-right: 5px;
}

#trainer-details {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  border: solid 3px black;
  border-radius: 15px 50px 15px 0px;
  background: rgb(18, 45, 200);
  background: linear-gradient(
    180deg,
    rgb(6, 41, 155) 0%,
    rgb(48, 101, 245) 65%,
    rgb(25, 203, 209) 65%,
    rgb(33, 245, 234) 70%,
    rgb(11, 79, 168) 70%,
    rgb(21, 117, 226) 75%,
    rgb(25, 203, 209) 75%,
    rgb(20, 214, 204) 100%
  );
  color: white;
  text-shadow: 2px 3px black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
#container {
  display: flex;
  flex-direction: column;
}

#username a {
  text-decoration: none;
  color: white;
  border: solid 2px black;
  background-color: red;
  padding: 5px 10px;
  border-radius: 10px;
}

#avatar img {
  height: 200px;
  margin-right: 100px;
}

#username {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#pokemonTeam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.eachPokemon {
  border: solid 1px black;
  display: flex;
  width: 48%;
  margin: 10px 0px;
  justify-content: space-between;
  border: solid 5px red;
  box-shadow: 3px 3px 0px rgb(5, 1, 1);
  border-radius: 15px 50px 15px 0px;
  color: white;
  background: rgb(18, 200, 28);
  background: linear-gradient(
    180deg,
    rgb(11, 146, 18) 0%,
    rgba(18, 200, 28, 1) 65%,
    rgba(167, 255, 178, 1) 65%,
    rgba(167, 255, 178, 1) 70%,
    rgba(18, 200, 28, 1) 70%,
    rgba(18, 200, 28, 1) 75%,
    rgba(167, 255, 178, 1) 75%,
    rgb(87, 187, 100) 100%
  );
  text-shadow: 2px 3px black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.pokemon-general {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}

.pokeStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 15px;
}

.eachStat {
  margin: -10px;
}

.eachStat p {
  font-size: 11px;
}

.pokemon-description p {
  margin: 5px;
  margin-left: -80px;
  font-size: 10px;
  line-height: 15px;
}

.title-poke-description {
  font-size: 15px;
  font-weight: bold;
}

.maintitle-poke-description {
  font-size: 10px;
  font-weight: bold;
  margin-left: 100px;
}

.eachStat {
  font-size: 12px;
  font-weight: bold;
}

.eachStat span {
  font-weight: 400;
}

.pokemon-details-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-details-buttons button {
  width: 90px;
  height: 30px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 15px;
  letter-spacing: 1px;
  font-size: 10px;
  box-shadow: 3px 2px 5px green;
}

.pokemon-profile {
  width: 130px;
  padding-right: 20px;
  margin: auto 0px;
}

.pokemon-profile img {
  width: 100%;
}

.pokeStats-community {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 15px;
  margin-right: 30px;
}

/* SIGNUP/LOGIN */
#signup-main {
  display: flex;
  justify-content: space-around;
}

#signup-main form {
  font-size: 12px;
}
#signup-main form input {
  margin-bottom: 10px;
}

#signup-main button {
  background-color: red;
  color: white;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: 3px 2px 5px green;
  padding: 5px;
  font-family: "Press Start 2P";
}

#sign-up {
  border: solid 3px black;
  box-shadow: 3px 3px 0px rgb(5, 1, 1);
  border-radius: 15px 50px 15px 0px;
  color: white;
  background: rgb(18, 45, 200);
  background: linear-gradient(
    180deg,
    rgb(6, 41, 155) 0%,
    rgb(48, 101, 245) 65%,
    rgb(25, 203, 209) 65%,
    rgb(33, 245, 234) 70%,
    rgb(11, 79, 168) 70%,
    rgb(21, 117, 226) 75%,
    rgb(25, 203, 209) 75%,
    rgb(3, 245, 234) 100%
  );
  text-shadow: 2px 2px black;
  text-decoration: solid;
  padding: 15px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#log-in {
  border: solid 3px black;
  box-shadow: 3px 3px 0px rgb(5, 1, 1);
  border-radius: 15px 50px 15px 0px;
  color: white;
  background: rgb(18, 45, 200);
  background: linear-gradient(
    180deg,
    rgb(6, 41, 155) 0%,
    rgb(48, 101, 245) 65%,
    rgb(25, 203, 209) 65%,
    rgb(33, 245, 234) 70%,
    rgb(11, 79, 168) 70%,
    rgb(21, 117, 226) 75%,
    rgb(25, 203, 209) 75%,
    rgb(3, 245, 234) 100%
  );
  text-shadow: 2px 2px black;
  text-decoration: solid;
  padding: 15px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* INDEX */
#title {
  display: flex;

  align-content: center;
}

#index {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align: center;
}

/* Create Pkmn */

#supa-create {
  background-image: url("https://imgur.com/jifIdFh.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 93vh;
  width: 97.8vw;
  margin-bottom: -50px;
}
#create-main {
  display: flex;
  justify-content: space-around;
}

#create-main form {
  font-size: 12px;
}
#create-main form input {
  margin-bottom: 10px;
}

#create-main button {
  background-color: red;
  color: white;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: 3px 2px 5px green;
  padding: 5px;
  font-family: "Press Start 2P";
}

#create {
  border: solid 3px black;
  box-shadow: 3px 3px 0px rgb(5, 1, 1);
  border-radius: 15px 50px 15px 0px;
  color: white;
  background: rgb(18, 200, 28);
  background: linear-gradient(
    180deg,
    rgb(11, 146, 18) 0%,
    rgba(18, 200, 28, 1) 65%,
    rgba(167, 255, 178, 1) 65%,
    rgba(167, 255, 178, 1) 70%,
    rgba(18, 200, 28, 1) 70%,
    rgba(18, 200, 28, 1) 75%,
    rgba(167, 255, 178, 1) 75%,
    rgb(87, 187, 100) 100%
  );
  text-shadow: 2px 2px black;
  text-decoration: solid;
  padding: 30px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#create form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#create form label {
  padding-bottom: 10px;
}

/* POKEDEX */

.main-pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.each-pokedex {
  border: solid 3px black;
  box-shadow: 3px 3px 0px rgb(5, 1, 1);
  border-radius: 15px 50px 15px 0px;
  color: white;
  background: rgb(18, 45, 200);
  background: linear-gradient(
    180deg,
    rgb(6, 41, 155) 0%,
    rgb(48, 101, 245) 65%,
    rgb(25, 203, 209) 65%,
    rgb(33, 245, 234) 70%,
    rgb(11, 79, 168) 70%,
    rgb(21, 117, 226) 75%,
    rgb(25, 203, 209) 75%,
    rgb(3, 245, 234) 100%
  );
  text-shadow: 2px 2px black;
  text-decoration: solid;
  padding: 30px;
  margin: 80px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.each-pokedex a {
  text-decoration: none;
  color: white;
}

/* Pokemon Update */

#update-main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#update-pkm-form {
  border: solid 3px black;
  box-shadow: 3px 3px 0px rgb(5, 1, 1);
  border-radius: 15px 50px 15px 0px;
  color: white;
  background: rgb(18, 200, 28);
  background: linear-gradient(
    180deg,
    rgb(11, 146, 18) 0%,
    rgba(18, 200, 28, 1) 65%,
    rgba(167, 255, 178, 1) 65%,
    rgba(167, 255, 178, 1) 70%,
    rgba(18, 200, 28, 1) 70%,
    rgba(18, 200, 28, 1) 75%,
    rgba(167, 255, 178, 1) 75%,
    rgb(87, 187, 100) 100%
  );
  text-shadow: 2px 2px black;
  text-decoration: solid;
  padding: 30px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#update-pkm-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#update-pkm-form form label {
  padding-bottom: 10px;
}

#card-update-pkm {
  display: flex;
  flex-direction: column;
}

#updt-pkm-title {
  font-size: 24px;
}

/* Update Profile */

#card-update-profile {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  box-shadow: 3px 3px 0px rgb(5, 1, 1);
  border-radius: 15px 50px 15px 0px;
  color: white;
  background: rgb(18, 45, 200);
  background: linear-gradient(
    180deg,
    rgb(6, 41, 155) 0%,
    rgb(48, 101, 245) 65%,
    rgb(25, 203, 209) 65%,
    rgb(33, 245, 234) 70%,
    rgb(11, 79, 168) 70%,
    rgb(21, 117, 226) 75%,
    rgb(25, 203, 209) 75%,
    rgb(3, 245, 234) 100%
  );
  text-shadow: 2px 2px black;
  text-decoration: solid;
  padding: 30px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
}

#card-update-profile form {
  display: flex;
  flex-direction: column;
}

#input-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#input-radio input {
  display: flex;
  justify-content: center;
}

#card-update-profile form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#card-update-profile form label {
  padding-bottom: 10px;
}

#main-profile-updt {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#card-update-profile form button {
  background-color: red;
  color: white;
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: 3px 2px 5px green;
  padding: 5px;
  font-family: "Press Start 2P";
}

#card-update-profile form input {
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: 3px 2px 5px green;
  padding: 5px;
  font-family: "Press Start 2P";
}

#card-update-profile form select {
  font-weight: bold;
  border: solid 2px black;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: 3px 2px 5px green;
  padding: 5px;
  font-family: "Press Start 2P";
}

#index-bg video {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  left:0;
  position: fixed;
}

#index-bg img{
  z-index: 999;
  position:absolute;
  margin: 12.5vh 34vw
}