<div class="main-community">
    {{#each trainerNames}}
    <div class="each-trainer">
    <a href="/app/community/{{_id}}">
        <img src="{{avatar}}" alt="trainer-avatar">
        <h5>@{{username}}</h5>
    </a>
    </div>

    {{/each}}
</div>