<div class="main-pokedex">
    {{#each pokeData}}
    <div class="each-pokedex">
    <a href="/app/pokedex/{{id}}">
    <img src="{{url}}" alt="poke-pic" height="150px">
    <p>{{name}}</p>
    </a>
    </div>
    {{/each}}
</div>